a:hover{
    text-decoration: none;
}
.btn{
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}
.header{
        border: 1px solid rgb(231, 231, 231);
    .header-top{
        height: 80px;
        .header-left{
            display: flex;
            align-items: center;
            .logo{
                margin-right: 15px;
                img{
                    width: 6.375rem;
                    height: 5rem;
                }
            }
            .tagline{
                strong{
                        font-size: 22px;
                        color: rgb(24, 26, 29);
                        font-weight: bold; 
                        margin-bottom: 0;                  
                }
                p{
                        font-size: 16px;
                        color: rgb(24, 26, 29);
                        margin-bottom: 0;
                }
            }
        }
        .header-right{
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: flex-end;
            .phone{
                margin-right: 25px;
                img{
                    margin-right: 15px;
                }
                a{
                        font-size: 18px;
                        color: rgb(24, 26, 29);
                        font-weight: bold;
                        line-height: 2.398;
                        
                }
            }
            .help-need{
                display: flex;
                button{
                        border-radius: 6px;
                        background: #FFB901;
                        width: 149px;
                        height: 46px;
                        margin-right: 8px;
                        font-size: 16px;
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                       
                                           
                }
                .want-help{
                        border-radius: 6px;
                        background: #48bbec;
                        width: 149px;
                        height: 46px;
                        display: flex;
                        align-items: center;
                        justify-content: center;   
                        a{
                            font-size: 16px;
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            line-height: 2.698;   
                        }    
                }
                .modal-dialog{
                    max-width: 61.25rem;
                    width: 100%;
                    min-height: 30rem;
                    position: relative;
                    margin: 5.5rem auto;
                    background: #fff;
                    padding: 2.5rem 0.25rem;
                    border-radius: 0.375rem;
                    .modal-content{
                        border: none;
                        .modal-header{
                            border: none;
                            h5{
                                font-weight: bold;
                                font-size: 1.875rem;
                                line-height: 131.77%;
                                text-align: center;
                                color: #1C1C1C;
                                margin-bottom: 1.5rem;
                                margin: 0 auto;
                            }
                            .close{
                                position: absolute;
                                right: 0;
                                background: transparent;
                                right: -1rem;
                                background: transparent;
                                top: -1rem;
                                opacity: 1; 
                                &:focus{
                                    outline: none;
                                }
                                strong{
                                    font-size: 61px;
                                    color: red;
                                }
                            }
                        }
                        .modal-body{
                            padding: 0 2.75rem;
                            border-bottom: 0.125rem solid #C4C4C4;
                            p{
                                font-size: 1rem;
                                line-height: 131.77%;
                                color: #1C1C1C;
                            }
                            h1{
                                font-weight: bold;
                                font-size: 1.25rem;
                                line-height: 131.77%;
                                color: #1C1C1C;
                                margin: 1.15rem 0;
                            }
                            ul{
                                padding: 0;
                                li{
                                    list-style-type: none;
                                }
                            }
                        }
                        .modal-footer{
                            justify-content: center;
                            padding-bottom: 0;
                            a{
                                background: #46A85D;
                                border: 0.0625rem solid #46A85D;
                                width: 11.25rem;
                                height: 3rem;
                                border-radius: 0.375rem;
                                font-weight: 600;
                                font-size: 1.375rem;
                                line-height: 131.77%;
                                text-align: center;
                                color: #FFFFFF;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .btn-close{
                                background: #E64E4E;
                                border: 0.0625rem solid #E64E4E;
                                margin-left: 3rem;
                                width: 11.25rem;
                                height: 3rem;
                                border-radius: 0.375rem;
                                font-weight: 600;
                                font-size: 1.375rem;
                                line-height: 131.77%;
                                text-align: center;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header-links{
    height: 60px;
    box-shadow: 0px 4px 17.43px 3.57px rgba(27, 27, 27, 0.04);      
    .header-link{
        height: 60px;
        display: flex;
        align-items: center;
        a{
                font-size: 16px;
                color: rgb(24, 26, 29);
                font-weight: bold;
        }
    }
    .header-link-right{
        justify-content: flex-end;
    }
}
.burger-menu {
    display: none;
}

.burger-menu-image {
    img {
        position: absolute;
        top: 3%;
        left: 1rem;
    }

    display: none;
}

.burger-menu-btn {
    width: 3rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9;
    position: relative;
    display: none;
}

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #FFB901;
}

.burger-menu-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.burger-menu-lines::after {
    content: "";
    top: -12px;
    transition: all 0.5s ease;
}

.burger-menu-lines::before {
    content: "";
    top: 12px;
    transition: all 0.5s ease;
}

.burger-menu-lines-active .burger-menu-lines {
    background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after {
    top: 0;
    transform: rotate(45deg);
}

.nav-panel-mobil {
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 8;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
}

.nav-panel-mobil {
    nav {
        ul {
            li {
                a{
                    color: #FFB901 !important;
                }
            }

            select {
                width: 64px;
            }
        }
    }
}

.nav-panel-mobil-active {
    transform: translateX(0);
}

@media screen and (max-width:576px){
    .header {
        .header-top{
            height: 90px;
            .header-left{
                
            }
            .header-right{
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0.8rem;
                .help-need{
                    justify-content: space-between;
                    width: 100%;
                }
                .help-need {
                    .modal-dialog {
                        .modal-content {
                            .modal-header {
                                .close{
                                    top: -2rem;
                                }
                            }
                            .modal-body{
                                padding: 0 15px;
                            }
                            .modal-footer{
                                .btn-close{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-links{
        height: 112px;
        .header-link{
            display: none;
        }
    }
    .burger-menu-btn{
        display: block;
        top: 95px;
        right: 1rem;
        position: absolute;
    }
    .nav-panel-mobil {
        nav{
            ul {
                li {
                    a{
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .nav-panel-mobil {
        nav{
            ul {
                li {
                    a{
                        font-size: 30px !important;
                    }
                }
            }
        }
    }
    .header {
        .header-top {
            .header-right{
                justify-content: space-between;
                margin-top: 1rem;
            }
        }

       
    }
    .header-links{
        .header-link{
            display: none;
        }
    }
    .burger-menu-btn{
        display: block;
        z-index: 999;
        position: absolute;
        top: 1.3rem;
        right: 2rem;
    }
    .nav-panel-mobil{
        z-index: 99;
    }
}