.helps_h2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0px;
  h2{
    font-family: 'Panton';
    font-weight: bold;
    font-size: 30px;
    line-height: 131.77%;
    text-align: center;
    text-transform: uppercase;
    color: #1C1C1C;
  }
}

.helps_children{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 40px;
  &:hover{
    background-color: #CFFFDA;
    p{
      display: none;
    }
    .progressbar{
      display: none;
    }
    a{
      display: block;
      font-family: 'Panton';
      font-weight: 600;
      font-size: 22px;
      line-height: 131.77%;
      text-align: center;
      color: #FFFFFF;
      padding: 9px 43px;
      background: #46A85D;
      border-radius: 6px;
      margin: 0 auto;
      width: 228px;
      margin-bottom: 44px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  a{
    display: none;
  }
  img{
    margin: 0 auto;
  }
  h3{
    font-family: 'Panton';
    font-weight: 600;
    font-size: 28px;
    line-height: 131.77%;
    color: #1C1C1C;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
  }
  h4{
    font-family: Panton;
    font-size: 24px;
    line-height: 131.77%;
    text-align: center;
    color: #1C1C1C;
    padding-bottom: 16px;
  } 
  .progressbar{
    width: 223px;
    background: #C4C4C4;
    border-radius: 10px;
    height: 26px;
    margin: 0 auto;
  }
  p{
    padding-top: 8px;
    font-family: 'Panton';
    font-size: 20px;
    line-height: 131.77%;
    text-align: center;
    color: #1C1C1C;
  }
}

.paginate {
  .paginate-slide{
    margin-bottom: 85px;
  }
  .slick-dots{
    bottom: 0px!important;
    left: -55px!important;
  }
  .slick-dots li{
    height: 0!important;
    width: 0!important;
    margin: 0 35px!important;
  }
  .slick-dots li button:before {
    content: ""!important;
  }
  .slick-dots .slick-active button{
    background-color: #46A85D!important;
    color: #ffffff!important;
  }
  .slick-dots li button {
    height: 48px!important;
    width: 48px !important;
    padding: 11px 19px!important;
    margin-left: 24px !important;
    font-family: 'Panton';
    font-size: 20px!important;
    line-height: 131.77%!important;
    background-color: #ffffff;
    border-radius: 6px!important;
    color: #46A85D;
    border: 1px solid #46A85D!important;
    &:hover{
      background-color: #46A85D!important;
      color: #ffffff!important;
    }
  }
}

.prev_paginate{
  position: absolute;
  bottom: -115%;
  left: 40%;
}

.next_paginate{
  position: absolute;
  bottom: -115%;
  right: 40%;
}

.prev_paginate, .next_paginate{
  cursor: pointer;
  display: inline-block;
  img{
    width: 48px;
    height: 48px;
    padding: 10px;
  }
  .arrow_noactive{
    display: inline-block;
    border: 1px solid #46A85D;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
  }
  .arrow_active{
    display: none;
    background: #46A85D;
    border-radius: 6px;
  }
  &:hover{
    .arrow_active{
      display: inline-block;
    }
    .arrow_noactive{
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .prev_paginate, .next_paginate{
    display: none!important;
  }
}